includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    parallel:
        maximumNumberOfProcesses: 0
    paths:
        - src
        - tests
    bootstrapFiles:
        - phpstan-bootstrap.php
